@page "{id:int?}"
@model PassionCentre.Pages.Courses.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Subject)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.MeetingDetails)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.MeetingDetails)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Course.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-warning" asp-page="./Index">Back to List</a>
    </form>
    <br /><br />
</div>
