@page "{id:int?}"
@model PassionCentre.Pages.Courses.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Date)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Course[0].Time)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Description)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Course[0].MeetingDetails)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Course)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.MeetingDetails)
                    </td>*@
                    
                <td>
                    @if (User.IsInRole("Admin") || User.IsInRole("Staff") || User.Identity.Name.ToString() == item.Username)
                    {                    
                            <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> 
                            <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>                  
                    }
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
