@page
@model PassionCentre.Pages.Audit.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (User.IsInRole("Admin")) 
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuditRecord[0].AuditActionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditRecord[0].Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditRecord[0].DateStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditRecord[0].KeyCourseFieldID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AuditRecord) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuditActionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeyCourseFieldID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IPAddress)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-page="./Edit" asp-route-id="@item.Audit_ID">Edit</a>
                    <a asp-page="./Delete" asp-route-id="@item.Audit_ID">Delete</a>
                }
                <a asp-page="./Details" asp-route-id="@item.Audit_ID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
